.button {
  font-weight: 500;
  color: var(--color-dark-light);
  border: 1px solid var(--color-light);
  padding: 7px 6px;
  border-radius: 12px;
  min-width: 68px;
}

.button:hover {
  font-weight: 700;
  color: var(--color-dark-active);
  background-color: var(--color-purple-active);
}

.button--active {
  font-weight: 700;
  color: var(--color-dark-active);
  background-color: var(--color-purple-active);
  border: 1px solid var(--color-light);
  padding: 7px 6px;
  border-radius: 12px;
  min-width: 68px;
}