.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  background-color: var(--color-purple-primary);
  border-radius: 12px;
  gap: 10px;
}

.item--completed {
  text-decoration: line-through;
  color: var(--color-dark-light);
}

.title, .description {
  font-size: 14px;
}

.description {
  font-weight: 500;
}

.title {
  font-weight: 700;
}